<div class="container">
  <div style="text-align: center;margin: 5%;">
    <h1>Lista de suscripciones</h1>
  </div>
  <div>
   <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="c1">
      <th mat-header-cell *matHeaderCellDef> ID. </th>
      <td mat-cell *matCellDef="let element"> {{element.idSuscripcion}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="c2">
      <th mat-header-cell *matHeaderCellDef> Tipo </th>
      <td mat-cell *matCellDef="let element"> {{element.TipoSuscripcion}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="c3">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
    </ng-container>

      <!-- Symbol Column -->
    <ng-container matColumnDef="c4">
      <th mat-header-cell *matHeaderCellDef> tipo de Pago </th>
      <td mat-cell *matCellDef="let element"> {{element.tipoPago}} </td>
    </ng-container> 

    <!-- Position Column -->
    <ng-container matColumnDef="c5">
      <th mat-header-cell *matHeaderCellDef> Renovacion </th>
      <td mat-cell *matCellDef="let element"> {{element.renovada}} </td>
    </ng-container>

    
    <!-- Symbol Column -->
    <ng-container matColumnDef="c6">
      <th mat-header-cell *matHeaderCellDef> Fecha de inicio </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaInicio|date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="c7">
      <th mat-header-cell *matHeaderCellDef> Fecha de fin </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaFin|date:'dd/MM/yyyy'}} </td>
    </ng-container>
    
      <ng-container matColumnDef="c8">
          <th mat-header-cell *matHeaderCellDef> Usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.usuario.idUsuario}} </td>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  </div>
</div>
