<div class="container">

  <div style="text-align: center;margin: 5%;">
    <h1>Lista de tipos de notificaciones</h1>
  </div>

  <div>
   <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let element"> {{element.idTipoNotificacion}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>

        <!-- Symbol Column -->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef> Actualizar </th>
        <td mat-cell *matCellDef="let element">
          <button matButton [routerLink]="['ediciones',element.idTipoNotificacion]">
          <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element">
          <button matButton(click)="eliminar(element.idTipoNotificacion)">
          <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      

    </table>
       <mat-paginator [pageSize]="10" [pageSizeOptions]="[4, 8, 10]" aria-label="Select page">
        </mat-paginator>
        <p *ngIf="!notResults">Total de Tipo de notificaciones: {{ totalTiponotificaciones }}</p>
        <p *ngIf="notResults">No se encontraron resultados.</p> 
  </div>
</div>
