<div class="container">
  <div style="text-align: center; margin: 5%;">
    <h1>REGISTRAR SUSCRIPCIÓN</h1>
  </div>

  <form [formGroup]="form" (ngSubmit)="aceptar()">
    <div class="form-grid">

      <mat-form-field appearance="fill">
        <mat-label>Suscripción</mat-label>
        <input matInput placeholder="Premium, Básica..." formControlName="tipoSuscripcion">
        <mat-error *ngIf="form.get('tipoSuscripcion')?.hasError('required')">
          El tipo de suscripción es obligatorio.
        </mat-error>
      </mat-form-field>

      <div style="display: flex; flex-direction: column; justify-content: flex-start;">
          <label style="margin-bottom: 0.5rem;">Estado</label>
          <mat-radio-group aria-label="Enabled" formControlName="estadoSuscripcion" style="display: flex; gap: 1rem;">
            <mat-radio-button [value]="true">Activa</mat-radio-button>
            <mat-radio-button [value]="false">Inactiva</mat-radio-button>
          </mat-radio-group>
        </div>

      <mat-form-field appearance="fill">
        <mat-label>Tipo de Pago</mat-label>
        <input matInput placeholder="Plin, Yape..." formControlName="tipopagoSuscripcion">
        <mat-error *ngIf="form.get('tipopagoSuscripcion')?.hasError('required')">
          El tipo de pago es obligatorio.
        </mat-error>
      </mat-form-field>

      <div style="display: flex; flex-direction: column;">
        <label style="margin-bottom: 0.5rem;">Renovación Automática</label>
        <mat-radio-group aria-label="Renovación Automática" formControlName="renovacionSuscripcion" style="display: flex; gap: 1rem;">
          <mat-radio-button [value]="true">Sí</mat-radio-button>
          <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>

    <mat-form-field appearance="fill">
      <mat-label>Rango de Fechas</mat-label>
      <mat-date-range-input [rangePicker]="picker" [min]="hoy" [max]="maxFin">
        <input matStartDate formControlName="fechainicioSuscripcion" placeholder="Fecha de Inicio">
        <input matEndDate formControlName="fechafinSuscripcion" placeholder="Fecha de Fin">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Suscripcione </mat-label>
        <mat-select formControlName="suscripcion">
          <mat-option *ngFor="let s of listaSuscripciones" [value]="s.idSuscripcion">
         {{ s.TipoSuscripcion }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('suscripcion')?.hasError('required')">
          El usuario es obligatorio.
        </mat-error>
      </mat-form-field>

    </div>

    <div style="margin-top: 2rem;">
      <button mat-raised-button color="primary" type="submit">Aceptar</button>
      <button mat-raised-button color="warn" routerLink="/usuarios">Cancelar</button>

    </div>
  </form>
</div>
