<div class="container">
    <div style="text-align: center;margin: 5%;">
        <h1>REGISTRAR USUARIO</h1>
    </div>
    <div style="text-align: center;">
        <form [formGroup]="form" (ngSubmit)="aceptar()">
            <div class="form-grid">
                <mat-form-field *ngIf="edicion">
                    <mat-label>Id</mat-label>
                    <input matInput placeholder="" formControlName="codigoUsuario">
                    <mat-error *ngIf="form.get('codigoUsuario')?.hasError('required')">
                        El código del usuario es obligatorio.
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Ingrese nombre de usuario" formControlName="nombreUsuario">
                    <mat-error *ngIf="form.get('nombreUsuario')?.hasError('required')">
                        El nombre del usuario es obligatorio.
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field>
                    <mat-label>Apellidos</mat-label>
                    <input matInput placeholder="Ingrese apellidos" formControlName="apellidosUsuario">
                    <mat-error *ngIf="form.get('apellidosUsuario')?.hasError('required')">
                        Los apellidos del usuario son obligatorios.
                    </mat-error>
                </mat-form-field>
        
                <br>
        
                <mat-form-field appearance="outline">
                    <mat-label>Fecha de Nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="fechaNacimientoUsuario">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="form.get('fechaNacimientoUsuario')?.hasError('required')">
                        La fecha de nacimiento es obligatoria.
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field>
                    <mat-label>Correo</mat-label>
                    <input matInput placeholder="Ingrese correo" formControlName="correoUsuario">
                    <mat-error *ngIf="form.get('correoUsuario')?.hasError('required')">
                        El correo del usuario es obligatorio.
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field>
                    <mat-label>Placa de auto</mat-label>
                    <input matInput placeholder="Ingrese placa" formControlName="placaAutoUsuario">
                    <mat-error *ngIf="form.get('placaAutoUsuario')?.hasError('required')">
                        La placa es obligatoria.
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field>
                    <mat-label>Teléfono</mat-label>
                    <input matInput placeholder="Ingrese teléfono" formControlName="telefonoUsuario">
                    <mat-error *ngIf="form.get('telefonoUsuario')?.hasError('required')">
                        El teléfono es obligatorio.
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Ingrese username" formControlName="usernameUsuario">
                    <mat-error *ngIf="form.get('usernameUsuario')?.hasError('required')">
                        El username es obligatorio.
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="**********" formControlName="passwordUsuario">
                    <mat-error *ngIf="form.get('passwordUsuario')?.hasError('required')">
                        El password es obligatorio.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Latitud</mat-label>
                    <input matInput placeholder="Ingrese latitud" formControlName="latitudUsuario">
                    <mat-error *ngIf="form.get('latitudUsuario')?.hasError('required')">
                        La latitud es obligatoria.
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field>
                    <mat-label>Longitud</mat-label>
                    <input matInput placeholder="Ingrese longitud" formControlName="longitudUsuario">
                    <mat-error *ngIf="form.get('longitudUsuario')?.hasError('required')">
                        La longitud es obligatoria.
                    </mat-error>
                </mat-form-field>
        
                <div style="display: flex; flex-direction: column; justify-content: flex-start;">
                    <label style="margin-bottom: 0.5rem;">Estado</label>
                    <mat-radio-group aria-label="Enabled" formControlName="enabledUsuario" style="display: flex; gap: 1rem;">
                        <mat-radio-button [value]="true">Activa</mat-radio-button>
                        <mat-radio-button [value]="false">Inactiva</mat-radio-button>
                    </mat-radio-group>
                </div>
        
            </div>
        
            <button mat-raised-button color="primary">Aceptar</button>
            <button mat-raised-button color="warn" routerLink="/servidores">
                Cancelar
                </button>
        </form>
    </div>
</div>