.container {
  max-width: 1100px;
  margin: 40px auto;
  background-color: #7a0303; 
  border-radius: 12px;
  padding: 40px 30px;
  box-shadow: 0 8px 20px rgba(201, 200, 200, 0.753);
}


.mat-header-cell {
  background-color: #ef1e12; 
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 12px;
  text-align: center;
}

.mat-cell {
  background-color: #2d2d44; /* gris oscuro */
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #444c5e;
  font-size: 14px;
}

.mat-row:hover {
  background-color: #3e3e5e;
}

button[mat-icon-button] mat-icon {
  color: white;
  transition: color 0.2s ease-in-out;
}

button[mat-icon-button]:hover mat-icon {
  color: #ffc107; /* amarillo al pasar */
}
