<div class="container">
  <div style="text-align: center;margin: 5%;">
    <h1>REGISTRAR</h1>
  </div>
  <div style="text-align: center;">
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field *ngIf="edicion">
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo">

        <mat-error *ngIf="form.get('codigo')?.hasError('required')">
          El codigo del tipo de notificacione es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="descripcion">
        <mat-error *ngIf="form.get('descripcion')?.hasError('required')">
          La descripcion del tipo de notificacion es obligatorio!!
        </mat-error>
      </mat-form-field>
    <div class="botones">
      <button mat-raised-button color="primary">Aceptar</button>
      <button mat-raised-button color="warn" routerLink="/tiponotificaciones">Cancelar</button>
    </div>
      
    </form>
  </div>
</div>
