<div class="title-container">
    <div class="container" style="text-align: center;margin:5%"><h1>Registro de Roles</h1></div>
    <div class="container" style="text-align: center">
      <form [formGroup]="form" (submit)="insertar()" >
  
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Código</mat-label>
          <input matInput  formControlName="codigo" readonly="true"/>
        </mat-form-field>
        <br />
  
        <mat-form-field class="example-full-width">
          <mat-label>Rol</mat-label>
          <input matInput formControlName="rol" />
          <mat-error *ngIf="form.get('rol')?.hasError('required')"
        >El rol es obligatorio.</mat-error>
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
            <mat-label>Usuario</mat-label>
            <mat-select formControlName="usuario">
              @for (user of listaUsuarios; track user) {
              <mat-option [value]="user.id">{{ user.username }}</mat-option>
              }
            </mat-select>
            <mat-error *ngIf="form.get('usuario')?.hasError('required')"
        >El usuario es obligatorio.</mat-error>
        </mat-form-field>
        <br />

        <div style="text-align: center;">
          <button mat-flat-button  color="warn">Registrar</button>
        </div>
      </form>
    </div>
  </div>
