<div class="container">

  <div style="text-align: center;margin: 5%;">
    <h1>Lista de empresas </h1>
  </div>

  <div>
   <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.idNotificacion}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef> Mensaje </th>
        <td mat-cell *matCellDef="let element"> {{element.mensaje}} </td>
      </ng-container>

     <!-- Name Column -->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef> Fecha de Emision </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaEmision|date:'dd/MM/yyyy'}} </td>
      </ng-container>

<!-- Name Column -->
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef> Fecha Programada </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaProgramada|date:'dd/MM/yyyy'}} </td>
      </ng-container>

<!-- Name Column -->
      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>

<!-- Name Column -->
      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.usuario.id_usuario} </td>
      </ng-container>

      
<!-- Name Column -->
      <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef> Tipo de Notificacion </th>
        <td mat-cell *matCellDef="let element"> {{element.tiponotificacion.idTipoNotificacion} </td>
      </ng-container>

      
<!-- Name Column -->
      <ng-container matColumnDef="c8">
        <th mat-header-cell *matHeaderCellDef> Reserva </th>
        <td mat-cell *matCellDef="let element"> {{element.reserva.idReserva} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="c9">
          <th mat-header-cell *matHeaderCellDef> Reclamo </th>
          <td mat-cell *matCellDef="let element"> {{element.reclamo.idReclamo}} </td>
      </ng-container>

       <!-- Symbol Column -->
    <ng-container matColumnDef="c10">
      <th mat-header-cell *matHeaderCellDef> Eliminar </th>
      <td mat-cell *matCellDef="let element">
        <button matButton
          (click)="eliminar(element.idServer)"
        >
        <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

