<mat-toolbar class="custom-toolbar">

  <div>
    <button mat-button [matMenuTriggerFor]="menuUsuario" class="btn-rojo">
      <mat-icon>account_circle</mat-icon>
      Usuario
    </button>
  </div>

  <div>
    <button mat-button [matMenuTriggerFor]="menuSuscripcion" class="btn-rojo">
      <mat-icon>computer</mat-icon>
      Suscripcion
    </button>
  </div>

  <div>
    <button mat-button [matMenuTriggerFor]="menuRol" class="btn-rojo">
      <mat-icon>computer</mat-icon>
      Rol
    </button>
  </div>

</mat-toolbar>

<mat-menu #menuUsuario="matMenu">
  <button mat-menu-item routerLink="/usuarios">Listar</button>
  <button mat-menu-item routerLink="/usuarios/formularioUsuario">Registrar</button>
  <button mat-menu-item routerLink="/usuarios/busquedasPlaca">Buscar por Placa</button>
</mat-menu>

<mat-menu #menuSuscripcion="matMenu">
  <button mat-menu-item routerLink="/suscripciones">Listar</button>
  <button mat-menu-item routerLink="/suscripciones/formularioSuscripcion">Registrar</button>
</mat-menu>

<mat-menu #menuRol="matMenu">
  <button mat-menu-item routerLink="/roles">Listar</button>
  <button mat-menu-item routerLink="/roles/formularioRoles">Registrar</button>
</mat-menu>