<mat-toolbar class="custom-toolbar">
  <div>
    <button mat-button [matMenuTriggerFor]="menuTipoNotificacion" class="btn-rojo">
      <mat-icon>computer</mat-icon>
      Tipo Notificaciones
    </button>
  </div>

  <div>
    <button mat-button [matMenuTriggerFor]="menuUsuario" class="btn-rojo">
      <mat-icon>account_circle</mat-icon>
      Usuario
    </button>
  </div>

  <div>
    <button mat-button [matMenuTriggerFor]="menuSuscripcion" class="btn-rojo">
      <mat-icon>computer</mat-icon>
      Suscripcion
    </button>
  </div>

<div>
  <button mat-button [matMenuTriggerFor]="menuEmpresa" class="btn-rojo">
    <mat-icon>business</mat-icon>
    Empresa
  </button>
</div>

 <div>
    <button mat-button [matMenuTriggerFor]="menuNotificacion" class="btn-rojo">
      <mat-icon>notifications</mat-icon>
      Notificaciones
    </button>
  </div>

</mat-toolbar>

<mat-menu #menuTipoNotificacion="matMenu">
  <button mat-menu-item routerLink="/tiponotificaciones">Listar</button>
  <button mat-menu-item routerLink="/tiponotificaciones/formulario">Registrar</button>
  <button mat-menu-item routerLink="/tiponotificaciones/busquedasid">Buscar por id</button>
</mat-menu>

<mat-menu #menuUsuario="matMenu">
  <button mat-menu-item routerLink="/usuarios">Listar</button>
  <button mat-menu-item routerLink="/usuarios/formularioUsuario">Registrar</button>
  <button mat-menu-item routerLink="/usuarios/busquedasid">Buscar por id</button>
</mat-menu>

<mat-menu #menuSuscripcion="matMenu">
  <button mat-menu-item routerLink="/suscripciones">Listar</button>
  <button mat-menu-item routerLink="/suscripciones/formularioSuscripcion">Registrar</button>
  <button mat-menu-item routerLink="/suscripciones/busquedasid">Buscar por id</button>
</mat-menu>

<mat-menu #menuEmpresa="matMenu">
  <button mat-menu-item routerLink="/empresas/listar"> Listar</button>  
  <button mat-menu-item routerLink="/empresas/insertar"> Registrar </button>  
  <button mat-menu-item routerLink="/empresas/buscarempresaporid">Buscar por id</button>  
  <button mat-menu-item routerLink="/empresas/modificar">Modificar</button>
  <button mat-menu-item routerLink="/empresas/eliminar">Eliminar</button>
</mat-menu>

<mat-menu #menuNotificacion="matMenu">
  <button mat-menu-item routerLink="/notificacion/listar">Listar</button>
  <button mat-menu-item routerLink="/notificacion/registrar">Registrar</button>
  <button mat-menu-item routerLink="/notificacion/buscarporid">Buscar por id</button>
  <button mat-menu-item routerLink="/notificacion/modificar">Modificar</button>
  <button mat-menu-item routerLink="/notificacion/eliminar">Eliminar</button>
</mat-menu>